.container {
  margin:0px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.routine-container{
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.time-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.time-section label {
  font-size: 1.2rem;
  margin-right: 10px;
}

.time-section input {
  font-size: 1rem;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.days-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-right:10px;
  margin-left:10px;
}

.day-button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.day-button.active {
  background-color: #ff7a00;
  color: white;
}

.store-button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-right:10px;
  margin-left:10px;
}

.store-button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.store-button.active {
  background-color: #ff7a00;
  color: white;
}

.menu-button-container{
  margin-right:10px;
  margin-left:10px;
}


.menu-select-button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ff7a00;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  margin-left:10px;
}

.cancel-button,
.save-button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button {
  background-color: #ccc;
}

.save-button {
  background-color: #ff7a00;
  color: white;
}
