.time-picker-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
  max-width: 90%;
  width: 100%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .time-picker-container {
      max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .time-picker-container {
      max-width: 800px;
  }
}

.time-picker-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.back-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.back-image {
  width: 24px;
  height: 24px;
}

h2 {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

p {
  font-size: 14px;
  color: #333;
  margin: 20px 0;
}

.time-picker-hours,
.time-picker-intervals {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.hour-button,
.interval-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.hour-button.active,
.interval-button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #0056b3;
}

.payment-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.payment-button:hover {
  background-color: #0056b3;
}

.current-time {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}