.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff8e1;
    padding: 20px;
}

.logo .logo-image {
    width: 100px;
    float: left;
    margin-bottom: 20px;
}

.banner .banner-image {
    justify-content: center;
    margin-bottom: 20px;
}

.welcome-box {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile .welcome-message {
    font-size: 18px;
    font-weight: bold;
}

.main-options {
    display: flex;
    justify-content: space-around;
}

.main-button {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    color: white;
    cursor: pointer;
}

.main-image {
    width: 65px;
    height: 65px;
    object-fit: cover;
}