.PayView {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

/* 전체 주문 내역 섹션 */
.pay-view-details {
    margin-top: 60px; /* 상단 여백 */
    padding: 0 16px; /* 좌우 여백 */
    font-size: 16px; /* 기본 폰트 크기 */
    color: #333; /* 텍스트 색상 */
  }
  
 .pay-view-title{
    margin-top: 5px;
    font-weight: bolder;
    font-size: 18px;
 }
 .pay-view-title-details{
    font-size: 16px;
    font-weight: bolder;
    margin: 5px;
    color: #777777;
 }
 .pay-view-title-li-details{
    font-size: 16px;
    margin: 5px;
    color: #777777;
    list-style-type: none;
 }