  /* 메뉴 이름 */

.OptionView .option-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    position: relative;
    overflow-y : auto;
}
 .OptionView .menu-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center; /* 텍스트 중앙 정렬 */
    padding-top : 75px;
    padding-bottom: 5px;
  }
  
 .OptionView .menu-image {
    width: 180px; /* 고정된 너비 */
    height: 180px; /* 고정된 높이 */
    border-radius: 10px; /* 둥근 모서리 */
    border: 1px solid #ddd; /* 테두리 */
    margin-bottom: 10px; /* 이미지와 아래 텍스트 사이 간격 */
    background-color: #f0f0f0; /* 기본 배경색 */
    display: flex; /* Flexbox 활성화 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    overflow: hidden; /* 내용이 박스를 초과하지 않도록 처리 */
  }

  .image-placeholder {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    color: #666;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5; /* 텍스트 높이 조정 */
}

/* 컵 선택 제목 스타일 */
.choose-cup {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 20px;
    text-align: left; 
}

/* 컵 선택 버튼 컨테이너 */
.add-cup {
    display: flex; /* Flexbox로 정렬 */
    padding-left : 20px;
    justify-content: left; 
    align-items: center;
    gap: 10px; /* 버튼 사이 간격 */
    margin-top: 10px; /* 상단 여백 */
}

/* 추가 옵션 제목 스타일 */
.choose-option {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 20px;
    text-align: left; 
}

/* 추가 옵션 버튼 컨테이너 */
.add-option {
    display: flex; /* Flexbox로 정렬 */
    padding-left : 20px;
    justify-content: left;
    flex-wrap: wrap; /* 줄바꿈 가능 */
    align-items: center;
    gap: 10px; /* 버튼 사이 간격 */
    margin-top: 10px; /* 상단 여백 */
    white-space: nowrap; /* 줄바꿈 방지 */
    
}


/* 공통 버튼 스타일 */
.OptionView2  button {
    font-size: 0.9rem;
    padding: 10px 20px; /* 버튼 안쪽 여백 */
    border-radius: 20px; /* 버튼 모서리 둥글게 */
    border: 1px solid #ccc; /* 기본 테두리 */
    background-color: #fff; /* 기본 배경색 */
    color: #666; /* 기본 텍스트 색상 */
    cursor: pointer; /* 클릭 가능한 커서 */
    transition: all 0.3s ease; /* 애니메이션 효과 */
}

/* 선택된 버튼 스타일 */
.OptionView2  button.selected {
    background-color: #f7c46c; /* 선택된 배경색 */
    color: #fff; /* 선택된 텍스트 색상 */
    border-color: #f7c46c; /* 선택된 테두리 색상 */
}
